nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding: 15px 15px 15px;
    height: 20px;
}

nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}

.top-left {
    float: left;
}

header {
    background-image: url(images/city-scape.svg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650;
}

.header1 {
    height: 40px;
    width: 100%;
}

.npm-logo {
    float: left;
    width: 10%
}

.search-container {
    float: left;
    width: 65%;
    height: 100px;
}

.search-container input {
    background-color: rgb(31, 82, 111);
    width: 800px;
    height: 30px;
    float: left;
    display: inline;
}

.buttonP {
    margin: 0 auto;
}

.topsign {
    float: left;
    width: 20%;
    color:rgba(255,255,255,0.8);;
}

.bear-logo {
    float: left;
    width: 5%;
}

.header2 {
    width: 100%;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding: 50px;
    height: 400px;
}

.headerprueba {
    width: 30%;
    float: left;
}

.sign-npm {
    color: white;
    background: rgb(240, 146, 51);
    border-radius: 12px;
    border-bottom-color: rgba(0,0,0,0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration-color: rgb (255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
}

.first-content {
    background-color: rgb(39, 53, 71);
    color: white;
    height: 500px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin: 0 auto;
}

.col-pic {
    width: 500px;
}

.col-content {
    width: 650px;
    margin: 0 auto;
    float: right;
    position: relative;
}

.sign-orgs {
    color: white;
    background: rgb(203, 56, 55);
    border-radius: 12px;
    border-bottom-color: rgba(0,0,0,0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration-color: rgb (255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
}

.second-content {
    background-image: url(images/forklift.svg);
    background-size: cover;
    color: white;
    position: relative;
    height: 500px;
    margin: 0 auto;
}

.margincero {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.third-content {
    font-family: sans-serif;
    color: rgb(109, 121, 139);
    font-size: 16px;
}

.logosVarios {
    height:400px;
    width:100%;
    display: inline-block;
    text-align: center;
}

.logo {
    float:left;
    width:33%;
    height:200px;   
    box-sizing:border-box;
}

.install-npm {
    color: white;
    background: rgb(49, 68, 88);
    border-radius: 12px;
    border-bottom-color: rgba(0,0,0,0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration-color: rgb (255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
}

.clearfix {
    clear: both;
}
